@use '../../styles/_variables.scss' as v;

.button {
    padding: calc(v.$primary-padding / 10) calc(v.$primary-padding / 3); 

    background-color: v.$white-color;
    border: v.$primary-border-size v.$black-color solid;
    border-radius: v.$primary-border-radius;

    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;

    &:hover {
        cursor: pointer;
        background-color: v.$lighter-grey;

        transition: .0.5s linear;
    }

    &:disabled {
        border-color: v.$primary-grey-color;
        
        &:hover {
            cursor: not-allowed;
            background-color: v.$white-color;
        }
    }

}