@use '../../styles/_variables.scss' as v;

.main__log-viewer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: calc(v.$primary-padding * 2);

    border: v.$primary-border-size v.$black-color solid;
    border-radius: v.$primary-border-radius;
}