@use '../../../../../styles/variables.scss' as v;


.main__log-file-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: calc(v.$primary-margin-top-bottom / 3) 0;

    background-color: v.$white-color;

    &-label, &-item {
        width: 100%;

        margin: calc(v.$primary-margin-top-bottom / 20) calc(v.$primary-margin-left-right / 4);

        text-align: center;

        border: v.$primary-border-size v.$black-color solid;
        border-radius: v.$primary-border-radius;

        &:hover {
            cursor: pointer;
            background-color: v.$lighter-grey;
        }
    }


    &-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;

        transition: .500s linear;

        &.hidden {
            display: none;
        }
    }

    &-item_selected {
        border: calc(v.$primary-border-size * 2) v.$blue-vk-color solid;
    }
}