$white-color: #fff;
$black-color: #000;
$primary-grey-color: #c7c7c7;
$blue-vk-color: #0077FF;
$lighter-grey: #e9e9e9;

$primary-margin-top-bottom: 20px;
$primary-margin-left-right: 15px;

$primary-padding: 10px;

$primary-border-radius: 7px;
$primary-border-size: 1.5px