@use '../../styles/_variables.scss' as v;

.main__running-string {
    display: flex;
    margin: 0 calc(0px - (v.$primary-margin-left-right)) calc(v.$primary-margin-top-bottom * 1.5);

    overflow: hidden;
    background-color: v.$blue-vk-color;
}

.main__running-string-content {
    display: flex;
    justify-content: center;

    white-space: nowrap;
    animation: main__running-string 10s linear infinite;
}

.main__running-string-content:nth-child(2) {
    animation-delay: -5s;
  }

.main__running-string-text {
    margin: 0 v.$primary-margin-left-right;
    color: v.$white-color;
    font-size: 3rem;
}

@media (max-width: 760px) and (min-width: 515px) {
    .main__running-string-text {
        font-size: 2rem;
    }

    .main__running-string-pattern {
        width: 50px;
    }
}

@media (max-width: 515px) and (min-width: 280px){
    .main__running-string-text {
        font-size: 1rem;
    }

    .main__running-string-pattern {
        width: 30px;
    }
}

@media (max-width: 280px){
    .main__running-string-text {
        font-size: 0.7rem;
    }

    .main__running-string-pattern {
        width: 17px;
    }
}

@keyframes main__running-string {
    from {
      transform: translateX(100%);
      visibility: visible;
    }
    to {
      transform: translateX(-100%);
      visibility: visible;
    }
  }