@use '../../../../styles/variables' as v;

.main__log-switcher {
    display: flex;
    justify-content: center;

    margin-top: calc(v.$primary-margin-top-bottom / 5);

    &-prev, &-next {   
        border: v.$primary-border-size v.$primary-grey-color solid;
        border-radius: v.$primary-border-radius;

        width: 50%;

        text-align: center;
        
        &:hover {
            cursor: pointer;
            border-color: v.$black-color;
        }

        &_disabled {
            color: v.$primary-grey-color;
            background-color: v.$lighter-grey;

            &:hover {
                cursor: not-allowed;
                border-color: v.$primary-grey-color;
            }
        }
    }
}