@use '../../styles/_variables.scss' as v;

#footer {
    margin: v.$primary-margin-top-bottom v.$primary-margin-left-right;

    .footer__info {
        font-size: 13px;
        font-style: italic;
        font-weight: 200;
        color: v.$primary-grey-color;
    }

    .footer__info-contact:hover {
        cursor: pointer;
    }
}